<h1>Show Todo</h1>

<ul>

  <li>
    <strong>Task:</strong>
    <%= @todo.task %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @todo.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.todo_path(@conn, :edit, @todo) %></span>
<span><%= link "Back", to: Routes.todo_path(@conn, :index) %></span>
